{% extends 'main/Index.html' %}
{% load static %}
{% load bootstrap5 %}

{% block title %}
    Home
{% endblock title %}


{% block content %}

  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-7">

      <div class="box-element my-3">
        <div class="card border-info">
          <div class="card-header ">
            <img src="{{ posts.author.userprofile.image.url }}" width="30" height="30" class="rounded-circle me-2" alt="Img">
            <span class="fs-5 me-5"><a href="{% url 'Blog:Posts' posts.author.username %}" class="text-dark">{{ posts.author }}</a></span>
          </div>
          <div class="card-body">
            <h5 class="card-title">{{ posts.title }}</h5>
            <p class="card-text">{{ posts.body }}</p>
          </div>
        </div>
      </div><!-- box-element end -->

    </div><!-- Col-md-7 end -->
    <div class="col-md-4">
      <div class="box-element p-3 mt-4">
        <table class="table border-primary">
          <tr>
            <td><i class="fas fa-user-edit"></i> Author</td>
            <td><a href="{% url 'Blog:Posts' posts.author.username %}" class="text-dark">{{ posts.author | upper }}</a></td>
          </tr>
          <tr>
            <td><i class="fas fa-blog"></i> Title</td>
            <td>{{ posts.title | upper }}</td>
          </tr>
          <tr>
            <td><i class="fas fa-calendar-alt"></i> Published_Date</td>
            <td>{{ posts.pub_date }}</td>
          </tr>
        </table>
      </div>
    </div>
  </div><!-- row end -->
{% endblock content %}
