{% extends 'main/Index.html' %}
{% load static %}
{% load bootstrap5 %}

{% block title %}
    Home
{% endblock title %}


{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
{% for post in object_list %}
      <div class="box-element my-3">
        <div class="card border-info">
          <div class="card-header ">
            <img src="{{ post.author.userprofile.image.url }}" width="30" height="30" class="rounded-circle me-2" alt="Img">
            <span class="fs-5 me-5"><a href="#" class="text-dark">{{ post.author }}</a></span>
            <!-- <small class="text-end fs-7 ms-5">{{ post.pub_date }}</small> -->
          </div>
          <div class="card-body">
            <h5 class="card-title">{{ post.title }}</h5>
            <p class="card-text">{{ post.body | truncatechars:150 }}</p>
            <a href="{% url 'Blog:Article' id=post.id %}" class="btn btn-primary">Read Full</a>
            <span><a href="{% url 'Blog:Update' pk=post.pk %}" class="btn btn-outline-warning ms-2">Edit</a></span>
            <span><a href="{% url 'Blog:Delete' pk=post.pk %}" class="btn btn-danger ms-2">Delete</a></span>
          </div>
        </div>
      </div><!-- box-element end -->
{% endfor %}
{% if is_paginated %}
    <nav aria-label="Page navigation example" id="pagination">
      <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
            <li class="page-item">
              <a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1" aria-disabled="true">Previous</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="?page=1">First</a>
            </li>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <li class="page-item">
              <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
            </li>
        {% endif %}
      </ul>
    </nav>
{% endif %}
    </div><!-- Col-md-7 end -->
    <div class="col-md-2"></div>
  </div><!-- row end -->
</div>
{% endblock content %}
