{% extends 'main/Index.html' %}
{% load bootstrap5 %}
{% block title %}
  Update
{% endblock title %}

{% block content %}
<div class="row my-3">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <div class="box-element p-3">
      <form class="" action="" method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        <div class="d-grid gap-2">
          {% bootstrap_button 'Update' button_type='submit' button_class='btn-outline-primary' size='sm' %}
        </div>
      </form>
    </div>
  </div>
  <div class="col-md-3"></div>
</div>

{% endblock content %}
